@import "node_modules/bootstrap/scss/bootstrap";

.app-container {
  margin: 15px 0;
}

.todo-editable {
  padding: 0;
  input {
    padding: $list-group-item-padding-y $list-group-item-padding-x;
    margin: 0;
    width: 100%;
  }
}