@import "node_modules/bootstrap/scss/bootstrap";

.app-container {
  margin: 15px 0;
}

.todo-wrapper {
  padding: 2px 0 0 2px;
  border-radius: 2px;
}

.todo-list-item {
  position: relative;
  width: 100%;
  padding: 0.75rem 1.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-image: initial;
  border-radius: 0.25rem;
  i {
    margin-right: 0.5rem;
    float: left;
    line-height: 150%;
    &:hover {
      cursor: pointer;
    }
  }
}

.todo-active {
  background-color: #eef
}

.todo-done {
  text-decoration: line-through;
}

.todo-editable {
  padding: 0;
  position: relative;
  i {
    position: absolute;
    padding: $list-group-item-padding-y $list-group-item-padding-x;
    top: 0;
    left: 0;
  }
  input {
    padding: $list-group-item-padding-y $list-group-item-padding-x
             $list-group-item-padding-y 2.55rem;
    border-radius: 0.25rem;
    background-color: #eef;
    margin: 0;
    width: 100%;
  }
}